<wicket:extend>
<form wicket:id="form">
        <!--<input type="text" wicket:id="kindOfProductTxt"/><br/>-->
        <!--<input type="submit" value="Odeslat"/>-->
        <!--<div wicket:id="feedBack"></div>-->
        <div wicket:id="grid"></div>
</form>
</wicket:extend>