<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">

	<h1 class="text-center"><wicket:message key="title.newOrder"/></h1>
	<hr class="cara" />

    <span wicket:id="customer"></span>

</wicket:extend>