<wicket:extend>
	<div class="text-center">
	<div class="feedbackPanel login-feedback" wicket:id="feedBack"></div>
  		<form class="form-signin" wicket:id="loginForm" novalidate>
      		<img class="mb-4" src="images/logo_transparent.png" alt="" width="250">
      		<h1 class="h3 mb-3 font-weight-normal"><wicket:message key="text.admin"/></h1>
      		
      		<label for="username" class="sr-only"><wicket:message key="username"/></label>
      		<input type="text" id="username" class="form-control" wicket:id="username" wicket:message="placeholder:username" autofocus/>
      		
      		<label for="password" class="sr-only"><wicket:message key="password"/></label>
      		<input type="password" id="password" class="form-control" wicket:id="password" wicket:message="placeholder:password" />
      		
      		<div class="checkbox mb-3">
        		
          		<input type="checkbox" id="rememberMe" wicket:id="rememberMe"/>
        		<label for="rememberMe"><wicket:message key="rememberMe"/></label>
        		
      		</div>
      		<input class="btn btn-lg btn-primary btn-block" type="submit" wicket:message="value:link.login"/>
    	</form>
	</div>
</wicket:extend>
