<!--  
<wicket:extend xmlns:wicket="http://www.w3.org/1999/xhtml">

    <div wicket:id="feedBack"></div>
    <div wicket:id="grid"></div>


</wicket:extend>
-->

<wicket:extend>
	<h1 class="pull-left"><wicket:message key="title.rawMaterials"/></h1>
	<div class="clearfix"></div>

	<div class="feedbackPanel" wicket:id="feedBack"></div>
	<div class="materials-table">
		<div wicket:id="grid"></div>
	</div>
</wicket:extend>