<wicket:panel>
	<div>
		<a wicket:id="edit" href="#"><wicket:message key="grid.edit"/></a>
		<a wicket:id="save" href="#"><wicket:message key="grid.save"/></a>
		<a wicket:id="cancel" href="#"><wicket:message key="grid.cancel"/></a>
		<a wicket:id="delete" href="#"><wicket:message key="grid.delete"/></a>	
	</div>
</wicket:panel>