.komentare {
    background-color: #f0f0f0;
    border: 1px solid #bcbcbc;
}
.komentar {
    border-bottom: dotted 1px gray;
   
}

.komentarHlavicka {
    background-color: #d5d5d5;
}
.komentarObsah td{
    padding-top: 10px;
    padding-left: 10px;
}

.komentar th {
    padding: 10px;

}

.komentarPole {
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.detailPopis {
    margin-bottom: 50px;
  
    padding-right: 30px;
}
.detailPrilohy {
    float: left;
    width: 40%;
  
    padding-right: 30px;
}
.detailPrilohyNahrat {
    float: left;
    width: 60%;
    padding-left: 30px;
    border-left: 1px solid #c3c0c0
}
.detailVybratSoubor {
    border: 1px solid #e1e1e1;
    text-align: right !important;
}
.hr-detailPrilohy {
    width: 400px;
    float: left;
    border-color: lightgray;
}
.hr-detailDelici {
    border-top: 1px solid #c3c0c0;
}
.btn-prilohaNahrat {
    margin-top: 10px;
    margin-bottom: 10px;
}
.popisProjektu {
    margin-bottom: 30px !important;
}
.cara {
    border-top: 1px solid #4087C5;
    margin-bottom: 40px;
}

.col-centered{
    text-align: center;
    margin: 0 auto;
}
h1 {
    margin-bottom: 30px !important;
}

.detailInfoContainer {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    background-color: #f6f5f5
}
.detailInfo {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.table-detail {
    width: 50%;
    float: left;
    text-align: left;
}

.table-detail th{
    width: 40%;
}

.table-detail td {
    padding: 5px;
}

.table-seznam {
    text-align: center !important;
    margin-top: 0px;
    vertical-align: middle !important;
}

.table-seznam td {
    text-align: center !important;
    vertical-align: middle !important;
}

.table-seznam th {
    text-align: center !important;
}

.thead-seznam {
    background-color: #90d8f8;

    text-align: center;
}

.table > thead {
    background-color: #90d8f8;

    text-align: center;
}

.table > thead {
    background-color: #90d8f8;

    text-align: center;
}

table a {     
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
table a:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;   
    text-decoration: none;
}
 
table div {
display: inline;
}

.customers-table input {
    width: 100%;
}

.products-table tfoot {
    display: none;
}

.product-materials-table {
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.product-materials-table > thead {
    text-align: center;
}

.product-materials-table input, select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.welcome {
    font-weight: normal
}

.employees-table input {
    width: 100%;
}

.materials-table input {
    width: 100%;
}

.orders-table tfoot {
    display: none;
}

.order-products-table {
    width: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}

.order-products-table > thead {
    text-align: center;
}

.order-products-table input, select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.customer-checkbox-label {
    margin-bottom: 20px;
    margin-right: 20px
}

.customer-selectbox {
    margin-bottom: 40px
}

.feedbackPanel ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.feedbackPanel ul li {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.feedbackPanelSUCCESS {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.feedbackPanelINFO {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.feedbackPanelERROR {
    margin-bottom: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.login-feedback {
    width: 330px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: left;
}

.logo-menu {
    float: left;
    padding-top:5px;
}




.tr-ukolyKeKontrole {
    background-color: #e2f9fd;
}

.td-prioritaUrgentni {
    background-color: #ffc4b1;
}

.td-prioritaVysoke {
    background-color: #e2d89e;
}

.td-prioritaNormalni {
    background-color: #ddf8c9;
}

.td-ukolProsly {
    color: red;
}

.account-nav {
    float: right;
    color: white;
    background-color: #545454;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.account-nav p {
    margin: 0px !important;
}

.account-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}

.account-nav-item:hover,
.account-nav-item:focus {
  color: #fff;
  text-decoration: none;
}




/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1260px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
}
.blog-masthead2 {
	background-color: #3078b7;
  	-webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-nav {
    float: left;
}

.blog-nav p {
    margin: 0px;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #4075c4;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
  background-color: #4075c4;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
.sklad-nav-item {
	font-weight: bold;
	color: #cedaff;
}
.sklad {
	float: left;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding-top: 15px;
    padding-top: 15px;
    padding-right: 15px;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 15px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
    margin-top: 40px;
  padding: 60px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.field-validation-error {
    color: red;
}